<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phish</title>
    <link rel="icon" href="/uploads/vavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/url.css">
</head>

<body>

    <div class="container">
        <!-- sidebar -->
        <%- include ('partials/sidebar.ejs') %>



            <!-- Main content -->
            <main class="main-content">
                <header class="header">
                    <div class="profile-summary">
                        <img src="/uploads/e80cf8ac52c85621931fb7ccec5260f3-removebg-preview.png" alt="Profile"
                            class="profile-pic">
                        <div>
                            <h2>
                                <%= user.username %>
                            </h2>
                            <p>
                                <%= user.email %>
                            </p>
                        </div>
                    </div>
                </header>



                <!-- OVER ALL SECTION  -->
                <section class="section-content">

                    <section class="free-offers">
                        <div class="drop">
                            <h1>Free Offers</h1>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="content">
                            <%- include ('partials/free-offers.ejs') %>
                        </div>
                    </section>

                    <section class="premium-offers">
                        <div class="drop">
                            <h1>Premium Offers</h1>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="content">
                            <%- include ('partials/premium-offers.ejs') %>
                        </div>
                    </section>

                </section>
            </main>





            <!-- WhatsApp Button -->
            <%- include ('partials/whatsapp-btn.ejs') %>
           
    </div>


    <script src="https://kit.fontawesome.com/b3fa93e021.js" crossorigin="anonymous"></script>
    <script src="/js/dashboard.js"></script>
</body>

</html>